body{ min-width: 500px;}

h1{	font-weight: bold;
	text-shadow: 3px 5px 0px rgba(0,0,0, .5);
	font-size: 2.5em;
	color: #fff;
	text-align: center;
	}

.row-fluid .upperpage1{
	min-width: 300px;
	min-height: 650px;
	
		/* IE fix */
    background: #22396A;
	color: white;
	background-color: rgba(0,0,0,0.38);
	border: 4px solid rgba(150,150,150,0.05);
	border-radius: 5px 5px 0px 0px;
	border-bottom: none;
 	min-height: 190px;
 	padding-left: 15px;
 	padding-bottom: 20px;
}

.row-fluid .upperpage2{
	background-color: #4d4d4d;
	color: white;
	
    background: #22396A;
	background-color: rgba(0,0,0,0.38);
	border: 4px solid rgba(150,150,150,0.05);
	border-radius: 0px 0px 5px 5px;
	border-top: none;
	
 	min-height: 450px;
 	padding-left: 15px;
 	padding-bottom: 20px;
}

.upperpage1 img,.upperpage2 img, .iphone, .device{ color: #ffffff;}

.upperpage1 span7{
	float: right;
}

.span5 .visible-desktop{ float:left;}