body {
    font-family: Raleway,sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #636b6f;
    background-color: #49CCAE;
    background: url(../img/bg.jpg) top left repeat-x;
    /* -webkit-background-size: cover; */
    -moz-background-size: cover;
    -o-background-size: cover;
    /* background-size: cover; */
    /* background-size: 203px 100%; */
}

.logo img {
    /* vertical-align: middle; */
    /* vertical-align: text-bottom; */
    max-width: 130px;
    position: relative;
    top: 65px;
    display: block;
    /* left: auto; */
    margin-left: auto;
    margin-right: auto;
}

.name img {
    vertical-align: middle;
    max-width: 80%;
    display: block;
    margin: auto;
    margin-top: 70px;
}

.panel {
    margin-bottom: 22px;
    background-color: #f5f8fa;
    border: 4px solid #8AD4C0;
    width: 360px;
    margin: auto;
    border-radius: 37px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.control-label.login {
    display: none;
}

.form-field {
    max-width: 70%;
    margin: auto;
}

.form-control {
    border: 1px solid #59D19D;
}

.checkbox label, .radio label {
    margin-left: 40pt;
}

.btn-primary {
    color: #fff;
    background-color: #2DA06F;
    width: 100pt;
    display: block;
    margin: auto;
    border-radius: 16pt;
}

.btn-link {
    color: #2DA06F;
    font-weight: 400;
    border-radius: 0;
    margin: auto;
    display: block;
}

input#password {
    margin-bottom: -13pt;
}