@media screen {

    body {
        font-family: Raleway, sans-serif;
        font-size: 14px;
        line-height: 1.6;
        color: #636b6f;
        background-color: #49CCAE;
        background: url(../img/bg.jpg) top left repeat-x;
        /* -webkit-background-size: cover; */
        -moz-background-size: cover;
        -o-background-size: cover;
        /* background-size: cover; */
        /* background-size: 203px 100%; */
    }

    li.correct {
        color: green;
        font-weight: bolder;
    }

    li.wrong {
        color: red;
        font-weight: bolder;
    }

    .icon {
        float: left;
        height: 20px;
        margin: 2pt;
    }

    .delIcon {
        border: none;
        background: none;
    }

    .testtable {
        width: 100%;
    }

    .testrow {
        border-bottom: black solid 1pt;
    }

    .newtest {
        margin-top: 10pt;
    }

    .heading-left {
        float: left;
        width: 90%;
    }

    table {
        width: 100%;
    }

    label {
        display: inline-block;
        margin-bottom: 0px;
        margin-top: 10px;
    }

    input[type="submit"] {
        margin-top: 15pt;
    }

    img.testmark {
        max-width: 13pt;
        margin-left: 10pt;
    }

    p.testmark {
        display: inline;
    }
    p.testmark.wrong {
        color: red;
    }

    p.testmark.correct {
        color: green;
    }

    p.expired {
        color: red;
        margin-top: 10pt;
        margin-bottom: -7pt;
    }

    .navbar-brand>img {
        display: block;
        max-height: 17pt;
    }

}

@media print {
    .printme {
        display: none;
    }

    p.testmark {
        display: inline;
    }
    p.testmark.wrong {
        color: red;
    }

    p.testmark.correct {
        color: green;
    }
}