.row-fluid .upperpage{
	color: white; 
	/* IE fix */
    /* better browsers */
	background-color: rgba(0,0,0,0.38);
	border: 4px solid rgba(150,150,150,0.05);
	border-radius: 5px; min-height: 60px; 	
	width: 100%; padding-left: 15px; padding-bottom: 20px;
	margin-bottom: 30px;}
	
	#app-name {	position: relative;	float: none;	margin-top: 20px;	margin-right: 20px;}
	.sect {color: white; background-color: rgba(0,70,100,0.38);
	border: 4px solid rgba(150,150,150,0.05);
	border-radius: 5px;	}

	.event-date {float:right;margin-top: 4px;color: #000;font-size: smaller;min-height: 14px;
		margin-left: 12px;
	}

	#tagline {margin-top: 15px;}
	
	#banner1{border-radius: 5px;}