

/*           local styles  */
body{
//background: rgba(0,102,189,0.5);
background: #0057A4;
font-size: small;

background: -ms-linear-gradient(top,  #0057A4 0%,#0057A4 17%,#0057A4 56%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0057A4', endColorstr='#0057A4',GradientType=0 ); /* IE6-9 */
}

.iphone {
	height:564px;
	width: 300px;
}

h1{	font-weight: bold;
	text-shadow: 3px 5px 0px rgba(0,0,0, .5);
	font-size: 2.5em;
	line-height: normal;
	color: white;
	text-align: center;
	vertical-align: middle;
	/*padding: 10px;
	width: 97%;
	background-color: #4d4d4d;
	background-color: rgba(0,0,0,0.38);
	border: 4px solid rgba(150,150,150,0.05);
	border-radius: 5px;
*/
	}
	

#phoneCarousel{
	/*	This is the carousel section, it
		contains the stage and the arrows */
	height:390px;
	margin:90px auto 120px;
	position:relative;
	width:800px;
}


#phoneCarousel .arrow{
	/* The two arrows */
	width:44px;
	height:44px;
	background:url('../img/arrows.png') no-repeat;
	position:absolute;
	top:50%;
	margin-top:-22px;
	left:0;
	cursor:pointer;
	display: block;
}

#phoneCarousel .next{
	/* Individual styles for the next icon */
	background-position:right top;
	left:auto;
	right:0;
}

/* Hover styles */

#phoneCarousel .arrow:hover{
	background-position:left bottom;
}

#phoneCarousel .next:hover{
	background-position:right bottom;
}



#stage{
	/* The stage contains the animated phone images */
	left:50%;
	margin-left:-350px;
	position:absolute;
	width:700px;
	height:100%;
}

#stage img{
	/* Hiding all the images by default */
	display:none;
	color:white;
}

#stage .default{
	/*	This class is applied only to the iphone img by default
		and it is the only one visible if JS is disabled */
	display:block;
	left:50%;
	margin-left:-135px;
	position:absolute;
}

#stage .animationReady{
	/* This class is assigned to the images on load */
	display:block;
	position:absolute;
	top:0;
	left:0;
	opacity: 1.0;
}

.iphone{font-size: large; }
 .navbar .brand{font-size: medium;}
.btn,.navbar-inner{font-size: small;}
