
 
@media screen and (max-width: 979px) and (min-width: 768px) {
.content {	padding-top: 20px;	}	
.hidden-desktop {	display: none!important;	}
.visible-desktop {	display: inherit!important;	}	
#version {	display: none;	}
}

@media screen and (max-width: 767px) {
/***** STRUCTURE *****/
.content {padding-top: 0px;}
.page-title {padding: 30px 0;}

/***** HOME *****/
#app-name {	text-align: center;	float: none;	}

#tagline {	text-align: center;	margin-top: 2em;	}	
#version {	display: none;	}	
#phones {	text-align: center;	margin-top: 20px;	}	
#description {	margin-top: 0px;	}	
.hidden-phone {	display: inherit!important;}
.visible-phone {	display:none!important;}

/***** SCREENSHOTS *****/
.thumbnails .span3, .thumbnails .span3:first-child {	width: 40%;	float: left;	margin: 1% 5%;	}
	
/***** CONTACT *****/
#contact-info {	padding-bottom:40px;	}	
#contact-form {	border-left: none;	}	
.form-horizontal .control-label {	width: 90px;	}
.form-horizontal .form-actions {	padding-left: 100px;	}	
#credits {	float: right;	}	
}

@media screen and (max-width: 480px) {
#version {	display: none;	}
.version {	float:none;	}
.release-date {	float: none;	}	
.form-horizontal .controls {	margin-left: 0px;	}	
.form-horizontal .control-label {	width: 90px;	}
.form-horizontal .form-actions {	padding-left: 0px;	}	
#credits {	float: left;	}	
.hidden-phone {	display: none!important;}
.visible-phone {	display:inherit!important;}	
}