/***** STRUCTURE *****/
 
 body { 
background: #0065bd; /* Old browsers */
background: -moz-linear-gradient(top,  #0065bd 0%, #0065bd 17%, #e5e5e5 56%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0065bd), color-stop(17%,#0065bd), color-stop(56%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #0065bd 0%,#0065bd 17%,#e5e5e5 56%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #0065bd 0%,#0065bd 17%,#e5e5e5 56%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #0065bd 0%,#0065bd 17%,#e5e5e5 56%); /* IE10+ */
background: linear-gradient(to bottom,  #0065bd 0%,#0065bd 17%,#e5e5e5 56%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0065bd', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */}

@media(max-width:979px){ 
div.homelink{ width:100%; padding: 6px 15px; line-height: 20px; margin-bottom: 2px;}
a:link.homelink{ font-weight: bold; color: #BABABA!important; width: 100%;
-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
a:hover.homelink{text-decoration: none; color: #FFF;}
.homelink:hover{ background-color: #222; color: #FFF;}
a:visited.homelink{color: #BABABA;}}

@media(min-width:980px){ div.homelink{ padding: 6px 15px; line-height: 19px; display: block;}
a.homelink{font-weight: bold; color: #BABABA!important; float: right;
-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;  margin-bottom: 2px;}
a:hover.homelink{text-decoration: none; color: #FFF;}
.homelink:hover{color: #FFF;}
a:visited.homelink{color: #BABABA;} }


.icon{ height: 6em; width: 6em; float:left; margin-right: 10px;}
.coyoteRadioicon{ height: ; width: 30em; float:left; margin-right: 10px;}
.raffmaicon{ height: 5em; width: 30em; float:left; margin-right: 10px;}
.sodexoicon{ height: 6em; width: 30em; float:left; margin-right: 10px;}
.slidewindericon{ height: 4em; width: 13em; float:left; margin-right: 10px;}


h2 { font-size: xx-large; }
 
.content { padding-top:75px; font-size: 1em; line-height: 1.8em;}
.content p { font-size: small; line-height: 1.8em; margin-bottom: 1.1em;}
.support{ font-size: large; color:#000 !important;}
.copyright{ background-color: #000; border-radius: 5px; width: 100%;}
.disclaimer{ background-color: #000; border-radius: 5px; width: 100%;}
.copyrightText{ color: #999999;padding: 10px;}

.logo {float:left; padding:10px;}
		
a:link {color:#fff;}      /* unvisited link */
a:visited {color:#000;}  /* visited link */
a:hover {color:#000;}  /* mouse over link */
a:active {color:#000;}  /* selected link */
/***** BODY *****/
	

.page-title h2, page-title a{display: inline; height: 2.3em;}

div.page-title{color: #000 !important; width: 270px;
	margin-top: 2.0em; line-height: 2.4em; display: block;}
.page-title img{display: inline; vertical-align: middle; margin: 0 0 15px 20px; }
/*.arrow-top img {margin: -7px 0 0 15px;}*/
	
/***** NAVIGATION BAR *****/

.navbar .brand {font-weight: bold; color: white;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);}

.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
padding: 6px 10px;font-weight: bold; color: #BABABA;
-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.brand img{ width: 241px; height: 26px; max-width: 241px !important;}

/***** HOMEPAGE *****/
	
.row-fluid .upperpage{
	color: white; 
	/* IE fix */
    background: #22396A;
    /* better browsers */
	background-color: rgba(0,0,0,0.38);
	border: 4px solid rgba(150,150,150,0.05);
	border-radius: 5px;min-height: 650px; 	padding-left: 15px; padding-bottom: 20px;}

.row-fluid .upperpage img{ color: #ffffff;}
#details {position: relative;float: right;width: 527px;	margin-top: 80px;padding-left: 20px;}
#icon {	position: relative;	float: left;	margin-right: 20px;}
#app-name {	position: relative;	float: left;	margin-top: 20px;	margin-right: 20px;}
#app-name h1 {	font-size: 5.5em;	color: #000;	
text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff, #fff 0.03em 0.03em;	}
#version {	top: 30px;	position: relative;	float: left;}
#tagline{color: white; 

 /*background-color: #4d4d4d; background-color: rgba(0,0,0,0.38); border-bottom: none; */
 padding: 10px 20px 0px 20px;	font-size: large;	margin-top: 6em;	clear: both;}
 #contactTagline{color: black; 

 /*background-color: #4d4d4d; background-color: rgba(0,0,0,0.38); border-bottom: none; */
 padding: 10px 20px 0px 20px;	font-size: large;	margin-top: 6em;	clear: both;}

 #description{ color: white; padding: 20px;} 

.download-box {	width: 45%;	float: left;padding-top: 20px;	padding-right: 5%;	font-size: small;	line-height: 1.3em;	}	
.download-box2 {width: 35%;float: left;	padding-top: 20px;	padding-right: 5%;	font-size: small;	line-height: 1.3em;	}	
.download-box li{	background: url('img/check.png') no-repeat left top;
	list-style: none;	padding-left: 25px;	margin-left: 0px;	line-height: 1.7em;}	

#features{ margin-top: 1.5em; padding: 20px;}

#features ul{margin-left: 20px;}
#features li{	background: url('img/check.png') no-repeat left top;	list-style: none;	padding-left: 25px;	line-height: 1.7em;}	


/***** ABOUT PAGE *****/

.span6{margin-top: 4.0em;	margin-bottom: 4.0em;}
.updates ul {list-style: none;padding-top: 10px;clear: both;margin: 0 0 25px 0;}
.updates ul li {margin-bottom: 10px;}
.updates hr {border-top: 1px solid #CCC;}
.updates .label {	display: block;	float: left; margin-right: 10px;}
.version {float:left;min-height: 26px;}
.release-date {float:right;margin-top: 4px;color: #000;font-size: smaller;min-height: 26px;}
.new {border: 1px solid #000000; background-color: #286528; width: 25px;}
.fix {border: 1px solid #000000; background-color: #0053BE;width: 25px;}	
.store img, .store a{ margin-bottom: 12px;line-height: 1.3em;font-size: medium;color: white;}
img{color: black;}
.brand img{color: white;}
	
/***** CONTACT *****/

#contact-form {border-left: 1px solid #cccccc;}
#contact-info {padding-bottom:20px;}
	
/***** FOOTER *****/

.footer {font-size: smaller;line-height: 1.5em;padding: 15px 0;border-top: 1px solid #CCC;}
#copyright {float:left;}
#credits {float:right;}
img.logo, .logo img{color: white;}

/****** FONT *****/
@font-face {
    font-family: 'QlassikBold';
    src: url('qlassikbold_tb-webfont.eot');
    src: url('qlassikbold_tb-webfont.eot?#iefix') format('embedded-opentype'),
         url('qlassikbold_tb-webfont.woff') format('woff'),
         url('qlassikbold_tb-webfont.ttf') format('truetype');
    font-weight: normal; font-style: normal;}

.skipnav
{
   text-align:left;
}
.skipnav a
{
   position:absolute; left:-10000px;width:1px;height:1px;overflow:hidden;
}
.skipnav a:focus, .skipnav a:active
{
   position:static; left:0; width:auto; height:auto; overflow: visible; text-decoration:underline;
}
