html, body{min-width: 650px;}



 
 
 /*#description, #tagline{ 
 background-color: white;
 border: 5px solid white; 

 background-color: rgba(255,255,255,0.3);
 border: 5px solid rgba(255,255,255,0.05);}
 */

.upperpage img, .iphone{ color: #ffffff;}
 

 
.icn{
	height: 90px;
	width: 78px;
	margin-right: 10px;	
}


.icn-outer-lt{
	height: 90px;
	width: 78px;
	float: right;
	margin-right: 0px;
	margin-left: 60px;
}
.icn-outer-rt{
	height: 90px;
	width: 78px;
	float: left;
	margin-right: 60px;
}
.icn-inner-lt{
	height: 90px;
	width: 78px;
	float: right;
	margin-left: 20px;
	margin-right: 3em;
}
.icn-inner-rt{
	height: 90px;
	width: 78px;
	float: left;
	margin-right: 20px;
	margin-left: 3em;
}



.icn-right{
	float: right;
	margin-right: 0px;

}
.download-box-left {
	width: 45%;
	float: left;
	padding-top: 20px;
	padding-left: 5%;
	font-size: small;
	line-height: 1.3em;

	}
	
.paw {	margin: 0px;
		padding-top: 0px;
		position: relative;
		min-height: 90px;
	}
.pitch{
	height:94px;
  display: table-cell;
  vertical-align: middle;
  line-height: normal;
  font-size: inherit;      
}
	