body {
  margin: 0;
  padding: 0;
  background: #F7F7F7;
  font-family: "helvetica neue", helvetica, roboto, sans-serif; }

a {
  text-decoration: none;
  cursor: pointer; }

.skip {
  background-color: #ffffff;
}

.skip a {
  color: #ffffff;
}

.skip a:focus, .skip a:active, .skip a:hover {
  color:#0065BD;  }

ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

.flex, nav .container, #features .item, #app-display .container, #app-info .container, #download-bottom .container, footer .container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.flex-wrap, #features .feature-box, footer .links .apps {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  /* You can set flex-wrap and flex-direction individually */
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  /* Or do it all in one line with flex flow */
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  /* tweak the where items line up on the row */
  /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
  -webkit-align-content: flex-end;
  align-content: flex-end; }

.flex-vertical {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; }

.container {
  max-width: 1000px; }

nav {
  background: rgba(0, 101, 189, 0.3);
  background-size: cover;
  width: 100%;
  z-index: 1000;
  position: absolute; }
  nav .container {
    padding: 30px 0px; }
  nav .logo {
    width: 47px;
    text-align: center;
    margin-right: 10px; }
  nav .right-links {
    text-align: right; }
    nav .right-links .common {
      display: inline-block; }
    nav .right-links .dropdown {
      display: inline-block;
      list-style: none;
      height: 0px; }
      nav .right-links .dropdown a {
        padding: 20px 0px; }
    nav .right-links .dropdown ul {
      display: none;
      position: absolute;
      margin: 15px -150px;
      text-align: left;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
      background: white;
      border-radius: 2px;
      padding: 15px;
      height: 0px;
      overflow: hidden;
      transition: 1s; }
      nav .right-links .dropdown ul a {
        color: black;
        padding: 0;
        margin: 0;
        display: inline-block;
        width: 100%; }
      nav .right-links .dropdown ul a:hover {
        color: #0065BD; }
      nav .right-links .dropdown ul h2 {
        font-size: 1em;
        font-family: din alternate;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin: 0px 0px 5px 0px;
        padding: 5px 0px 12px 0px;
        font-weight: 800; }
    nav .right-links .dropdown:hover > ul {
      display: inline-block;
      height: auto;
      transition: 1s; }
    nav .right-links .dropdown::after {
      content: "";
      width: 0;
      position: absolute;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid #FFF;
      margin: -14px 0px;
      display: inline-block; }
  nav .left-links, nav .right-links {
    width: 50%;
    white-space: nowrap;
    display: inline-block; }
    nav .left-links a, nav .right-links a {
      color: white;
      text-transform: uppercase;
      margin: 0px 10px;
      font-size: 0.8em;
      letter-spacing: 0.1em;
      transition: 0.2s;
      padding: 20px 0px;
      opacity: 0.75; }
    nav .left-links a:hover, nav .right-links a:hover {
      opacity: 1; }

/*============================================= */
/*============================================= */
#header {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 400px;
  padding-top: 85px;
  overflow: hidden;
  z-index: 100;
  position: relative; }
#header .image-overlay {
  background: #0065BD;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.2; }
#header #main-background {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px; }
#header #main-background img {
  width: 100%; }
#header .container {
  color: white;
  padding-top: 110px; }
#header h1 {
  font-weight: 300;
  font-size: 1.5em;
  letter-spacing: 0.2em;
  font-family: "DIN Alternate", "helvetica neue", sans-serif;
  margin-bottom: 0px; }
#header p {
  font-weight: 100;
  font-size: 3em;
  font-family: helvetica neue, sans-serif;
  letter-spacing: 0.04em; }
#header h1, #header h2, #header h3, #header h4, #header h5, #header h6, #header p {
  text-align: center; }
#header .store-buttons {
  width: 100%;
  text-align: center;
  margin: 40px 0px; }
#header .store-buttons a {
  margin: 20px;
  border-radius: 100px;
  display: inline-block; }

/*============================================= */
/*============================================= */
#features {
  width: 100%;
  background: white;
  box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.3);
  background: white; }
#features .container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 80px; }
#features .item {
  width: 29%;
  margin-right: 20px;
  margin-bottom: 40px;
  padding: 10px; }
#features .icon {
  width: 65px; }
#features .text {
  width: 100%; }
#features h2 {
  font-size: 1.2em;
  font-family: DIN Alternate;
  letter-spacing: 0.01em;
  font-weight: 500;
  padding: 0;
  margin: 0px 0px 5px 0px; }
#features p {
  line-height: 18px;
  font-size: 0.9em;
  padding-bottom: 15px;
  color: rgba(0, 0, 0, 0.7); }

/*============================================= */
/*============================================= */
#app-display {
  width: 100%;
  background-position: center right;
  background-size: 55%;
  background-repeat: no-repeat;
  background-color: white; }
#app-display .container {
  padding: 250px 0px 250px 0px; }
#app-display .content {
  width: 50%;
  margin-right: 25px; }
#app-display h2 {
  font-family: din alternate; }
#app-display p {
  color: rgba(0, 0, 0, 0.7);
  margin: 30px 0px; }
#app-display .icons {
  margin: 60px 0px; }
#app-display .icons .app-icon {
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 10px;
  display: inline-block; }
#app-display .icons .app-icon:hover::before {
  content: attr(data-appname);
  display: block;
  padding: 3px 9px;
  position: absolute;
  background: #212121;
  color: white;
  border-radius: 2px;
  margin: -45px -10px;
  font-size: 0.8em; }

/*============================================= */
/*============================================= */
#app-info {
  width: 100%;
  background: white;
  color: black; }
#app-info h2 {
  font-size: 1.5em;
}
#app-info .container {
  padding: 75px 30px; }
#app-info .container .specs, #app-info .container .changelog {
  width: 100%; }
#app-info .container ul {
  margin: 40px 0px;
  font-size: 0.85em; }
#app-info .container ul li {
  margin-bottom: 10px; }
#app-info .container ul .title {
  width: 150px;
  display: inline-block;
  font-weight: 500; }

/*============================================= */
/*============================================= */
.rotated-screens {
  width: 100%;
  background: white;
  height: 500px;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.2); }

/*============================================= */
/*============================================= */
#download-bottom {
  width: 100%;
  background: #1F2124; }
#download-bottom .container {
  padding: 70px 0px; }
#download-bottom p {
  font-size: 2em;
  color: white;
  width: 65%;
  font-weight: 300;
  margin: 0; }
#download-bottom .store-buttons > a {
  margin: 0 20px;
  width: 100%;
  text-align: center; }

/*============================================= */
/*============================================= */
footer {
  width: 100%;
  background: #1F2124;
  margin-top: 0px; }
  footer .container {
    padding: 20px 0px; }
  footer .links {
    width: 50%; }
    footer .links a {
      margin-right: 20px; }
footer .links a:hover {
<<<<<<< HEAD
  color: #a4a4a4;  }
=======
  color: #959595;  }
>>>>>>> a1f3b687936a80ba27d9956d9c2ad579210de672
    footer .links .index {
      padding: 10px 0px; }
      footer .links .index li {
        display: inline-block; }
    footer .links .apps {
      width: 100%;
      display: none; }
      footer .links .apps li {
        display: inline-block;
        width: 33%;
        font-size: 0.75em;
        padding: 2px 0px; }
        footer .links .apps li a {
          color: gray; }
  footer .copyright {
    text-align: right;
    width: 50%;
    color: white; }

/*============================================= */
/*============================================= */
@media (max-width: 600px) {
  .flex-m {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }

  .container {
    width: 100%; }

  nav .logo {
    display: block;
    width: 20%; }
  nav .right-links, nav .left-links {
    width: 40%; }
    nav .right-links .common, nav .left-links .common {
      display: none; }

  #header {
    height: 100%; }
    #header h1 {
      padding: 0px 30px; }

  #features .feature-box {
    padding: 40px; }
  #features .item {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 40px;
    padding: 0px; }

  #app-display {
    width: 100%;
    background-position: center 90%;
    background-size: 75%;
    padding: 70px 0px; }
    #app-display .container {
      padding: 0px 0px 350px 0px; }
    #app-display .content {
      width: 100%;
      margin-right: 0px;
      padding: 0px 35px; }
    #app-display h1 {
      font-family: din alternate;
      text-align: center; }
    #app-display p {
      color: rgba(0, 0, 0, 0.7); }

  #app-info .container {
    display: block; }

  #download-bottom .container {
    display: block;
    text-align: center;
    padding: 40px 0px; }
  #download-bottom h1 {
    width: 90%;
    text-align: center;
    margin: 40px auto; }
  #download-bottom .store-buttons {
    width: 100%; }

  footer .container {
    padding-top: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: block;
    width: 90%; }
  footer .links, footer .copyright {
    width: 100%;
    text-align: center;
    padding: 10px 0px; }
  footer .copyright {
    font-size: 0.8em; } }
nav {
  background: rgba(0, 0, 0, 0.5); }

#header {
  background-color: black;
  background-image: url("../images/csusbmobile/background.jpg"); }

#app-display {
  background-color: white;
  background-image: url("../images/csusbmobile/phone-mockup.jpg"); }

.rotated-screens {
  background-image: url("../images/csusbmobile/rotated-screens.jpg"); }

/*# sourceMappingURL=csusbmobile.css.map */
