
/*body {
background: #0065BD;
background: -moz-linear-gradient(top, #0065BD 0%, #0065BD 17%, #FECF8F 56%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0065BD), color-stop(17%,#0065BD), color-stop(56%,#FECF8F));
background: -webkit-linear-gradient(top, #0065BD 0%,#0065BD 17%,#ffcf8f 80%);
background: -o-linear-gradient(top, #0065BD 0%,#0065BD 17%,#FECF8F 70%);
background: -ms-linear-gradient(top, #0065BD 0%,#0065BD 17%,#FECF8F 56%);
background: linear-gradient(to bottom, #0065BD 0%,#0065BD 17%,#FECF8F 56%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0065bd', endColorstr='#fecf8f',GradientType=0 );
} */


#banner
{
	margin-top: 5px;
	margin-bottom: 10px;
	float: left;
	}

.icon {
height: 64px;
width: 86px;
float: left;
margin-right: 10px;
}

.buffer{ min-height: 12.0em;}



/* custom book list bullets */
.library ul {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
	font-size: 1.0em;
	}
.library li{
	list-style-type: none;
	 background: url(../Library/book_icon.png) left top no-repeat;
	 background-size: 24px;
	 padding-left: 2.7em;
	 margin: 0;
	 margin-top: 0.5em;
	 line-height: 1.92em;
	 }

.contain{
	padding-bottom: 3.0em;	
	
}
.upperpage img, .iphone{ color: #ffffff;}